@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header{
    font-family: Merriweather;
}

h1, h2, h3{
    font-family: Merriweather;
}

span{
    font-family: Merriweather;
}

.buttonMore{
    font-family: Merriweather, sans-serif;
}

.events{
    font-family: "Nunito", sans-serif;
}

.signature{
    font-family: sans-serif;
    font-weight: 400;
}

.descriptionContact, .rightReserved{
    font-family: "Quicksand", sans-serif;
}



.navHeader {
    font-family: 'Montserrat';
}

.logo {
    font-family: 'Poppins';
}

.nomeCantorBanner{
    font-family: 'Poppins';
}

.spanBanner {
    font-family: 'Poppins';
}

.h1About {
  font-size: 1.55rem;
  font-family: 'Poppins';
}




@media screen and (max-width: 1024px){
    .h1About{
        font-size: 1.75rem;
        margin: 2rem;   
    }
    .slide{
        display: none;
    }
    .spanContact{
        margin: 0 2em 1em 2em;
        margin-top: 2.5rem;
    }
    .sobre{
        max-width: 50%;
    }
    .divBanner{
        left: 12%;
    }
    .nomeCantorBanner{
        font-size: 4em;
    }
    .spanBanner{
        font-size: 1.5em;
    }
    
}


@media screen and (max-width: 768px){
    .logo{
      width: 4.75rem;
    }
    .navHeader{
        margin: auto;
        gap: 2rem;
    }
    .h1About{   
        margin: 0 2.5em 0 2.5em;
    }
    .events{
        margin: 0;
    }
    .divBanner{
        top: 5%; 
        left: 10%;
    }
    .nomeCantorBanner{
        font-size:3.2em;
    }
    .spanBanner{
        font-size: 1.5em;
    }
    .videos{ 
        display: grid;
        grid-template-columns: auto;

    }
}

@media screen and (max-width: 640px){
    
    .spanContact{
        margin: 2em 2em 1em 2em;
        font-size: 1.2em;
    }
    .divBanner{
        left: 7%;
    }
    .nomeCantorBanner{
        font-size:2.7em;
    }
    .spanBanner{
        font-size: 1.2em;
    }
    .home, .opacityBanner{
        height: 70vh;
    }
 
}

@media screen and (max-width: 480px){
    .header{
        background:none;
        margin:1rem;
    }
    .logo{
        display: flex;
        margin: auto;
        margin-top:15px ;
    
    }
    .navHeader{
        display: none;
        height: 70px;
    }
    .h1About {
        font-size: 1.45rem;
        margin: 1.5rem;  
    }
    .sobre span{
        font-size: 1.2rem;
    }
    .divBanner{
        left: 0;
    }
    .nomeCantorBanner{
        font-size:2.6em;
    }
    .spanBanner{
        font-size: 1.1em;
    }
    .shows{
        font-size: 1.75rem;
    }
    .sobre{
        max-width: 100%;
    }
    .events{
        display: none;
        font-size:18px ;
    }
    .spanContact{
       display:none;
    }
    .iconsRedes{
        margin: 0.5em 0 1.5em 0;
    }
    .videos{ 
        width: 22rem;
    }
    .rightReserved{
        font-size:14px;
        text-align: center;
    }
    
}

@media screen and (max-width: 320px){
    .nomeCantorBanner{
        font-size:2.2em;
    }
    .spanBanner{
        font-size: 1em;
    }
    .videos{
        width: 18rem;
    }
    .rightReserved{
        font-size:12px;
        text-align: center;
    }
}
